---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC92343d189fc553f58a92f9895da8ced5/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&From=2085955077&To=1111111
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM5MjM0M2QxODlmYzU1M2Y1OGE5MmY5ODk1ZGE4Y2VkNTpkZWVhOGFlYzczZGQwMjM1MjZmNDA0ZDJjNzJiNzlmZQ==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.112'
      Twilio-Request-Id:
      - RQ9e9b28c7a521461ead4d3c8502dc173a
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 1111111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Mon, 27 Feb 2017 19:57:26 GMT
recorded_with: VCR 3.0.3
